body
{
	background:green !important;
}

.card 
{
	width: 180px;
	height: 280px;
	border: 1px solid black;
	text-align: center;
	line-height: 260px;
	border-radius: 5px;
	background-color: white;
	font-size: 100px;
	font-style: bold;
	position: relative;
	margin-left: 15px;
}

#number
{
	margin: 0 0 0 0;
}

.spades:after
{
	content: "♠";
	color: black;
	position: absolute; 
	top: 100px; 
	right: 10px; 
}
.spades:before
{
	content: "♠";
	color: black;
	position: absolute; 
	top: -95px; 
	right: 110px; 
}

.hearts:after
{
	content: "♥";
	color: red;
	position: absolute; 
	top: 100px; 
	right: 10px; 
}
.hearts:before
{
	content: "♥";
	color: red;
	position: absolute; 
	top: -95px; 
	right: 110px; 
}

.clubs:after
{
	content: "♣";
	color: black;
	position: absolute; 
	top: 100px; 
	right: 10px; 
}
.clubs:before
{
	content: "♣";
	color: black;
	position: absolute; 
	top: -95px; 
	right: 110px; 
}

.diamonds:after
{
	content: "♦";
	color: red;
	position: absolute; 
	top: 100px; 
	right: 10px; 
}
.diamonds:before
{
	content: "♦";
	color: red;
	position: absolute; 
	top: -95px; 
	right: 110px; 
}
.button
{
	margin: 10px 10px 10px 10px;
}